{% extends "blog/base.html" %}
{% block content %}
   {% if category_posts %}
        <legend>
            Posts Filtered By : {{ cats }}
        </legend>
          {% for post in category_posts %}
            <article class="media content-section">
             <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                <p><b>Category </b>: {{ post.category }}</p>
              </div>
            </article>
        {% endfor %}

    {% else %}
        <legend>Sorry Posts Not Exists</legend>
    {% endif %}
{% endblock content %}
