{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
     <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          {% if object.author ==  user %}
              <div class="float-right">
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
              </div>
          {% endif %}
        </div>
        <h2 class="article-title" > {{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
          <p><b>Category </b>: {{ object.category }}</p>
        <br>
        <form action="{% url 'like_post' post.pk %}" method="post">
            {% csrf_token %}
            {% if user.is_authenticated %}
                {% if liked %}
                    <button type="submit", name="post_id", value="{{ post.id }}",
                        class="btn btn-danger btn-sm">Unlike</button>
                {% else %}
                    <button type="submit", name="post_id", value="{{ post.id }}",
                        class="btn btn-primary btn-sm">Like</button>
                {% endif %}
            {% else %}
                <small><a href="{% url 'login' %}">LOGIN</a> TO LIKE A POST</small>
            {% endif %}
                - {{ total_likes }} Likes

        </form>
        <br>
        <h2>Comments..</h2>
      <hr>
      {% if not post.comments.all %}
        No Comments Yet..
        <a href="{% url 'add_comment' post.pk  %}">Add Comments</a>

      {% else %}
          {% for comment in post.comments.all %}

             <strong> {{ comment.name }}-{{ comment.date_added }}</strong>
              <br>
              {{ comment.body }}
              <br>
              <hr>

          {% endfor %}
      {% endif %}
        <a href="{% url 'add_comment' post.pk  %}">Add Comments</a>
      </div>
    </article>
{% endblock content %}
