{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Login Now
                </legend>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2" >
{#                    <a href="{% provider_login_url "google" google="http://127.0.0.1:8000/accounts/google/login/" next="" %}">Google</a>#}
{#                    <a href="{% provider_login_url 'github' %}">Authenticate with GitHub</a>#}
{#                    <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>#}
                    <a href="{% url 'password_reset' %}">Forgot Password</a>
                </small>
            </div>
            <center> Or</center>
            <div >
               <center> <legend>Login With</legend>
                <a href="{% provider_login_url "google" google="http://127.0.0.1:8000/accounts/google/login/" next="" %}" type="button" class="col-3 btn btn-danger ">Google</a>
                <a href="{% provider_login_url 'github' %}" type="button" class="col-3 btn btn-dark">GitHub</a>
                <a href="{% provider_login_url "facebook" method="oauth2" %}" type="button" class="col-3 btn btn-info">Facebook</a>
               </center>
            </div>
            <br>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account?
                <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>


{% endblock content %}
